@font-face {
    font-family: monster;
    src: url(Monsterize.otf);
  }

@keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }to{
    -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}
@-webkit-keyframes move-background {
    from {
    -webkit-transform: translate3d(0px, 0px, 0px);
    }to{
    -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}
@-moz-keyframes move-background {
    from {
    -webkit-transform: translate3d(0px, 0px, 0px);
    }to{
    -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}
@-webkit-keyframes move-background {
    from {
    -webkit-transform: translate3d(0px, 0px, 0px);
    }to{
    -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

body{
    background-image: url('halloween.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#comming-soon{
    position: absolute;
    color: #f8a602;
    font-family: monster;
    font-size: 40px;
    top: 60%;
    left: 230px;
}

.clouds {
    width: 10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    opacity: 0.8;
    -moz-animation: move-background 50s linear infinite;
    -ms-animation: move-background 50s linear infinite;
    -o-animation: move-background 50s linear infinite;
    -webkit-animation: move-background 50s linear infinite;
    animation: move-background 50s linear infinite;
  }